@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

.containers {
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  background-image: url(../images/background-img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.containers form {
  max-width: 1000px;
  width: 80vh;
  padding: 20px;
  border-radius: 6px;
  background: white;
  /* height: fit-content; */
}

/* #signin {
  position: fixed;
  top: 10vh;
  left: 65vh;
} */

/* .form {
  position: absolute;
} */

.form.signup {
  opacity: 0;
  pointer-events: none;
}

.forms.show-signup .form.signup {
  opacity: 1;
  pointer-events: auto;
}

.forms.show-signup .form.login {
  opacity: 0;
  pointer-events: none;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  color: black;
}

form .field {
  width: 100%;
  height: 45px;
  position: relative;
}

.field input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
}

.input-field {
  margin-bottom: 20px;
}

.field button {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  background-color: #9c6f44;
  color: black;
  border-radius: 6px;
}

.form-link {
  margin-top: 22px;
  /* width: fit-content; */
}

.forgotPass-link {
  margin-top: -22px;
  /* width: fit-content; */
  margin-left: 400px;
}

.form-link a,
.forgotPass-link a {
  font-size: 16px;
  font-weight: 400;
}

form a {
  text-decoration: none;
  color: #9c6f44;
}

form a:hover {
  text-decoration: underline;
}

.eye-icon {
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
}

.line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}

.line::before {
  content: "Or sign in with";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #232836;
  padding: 0 15px;
}

.media-options a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#agreement {
  margin-top: 25px;
}

img.google-img {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%);
}

img.google-img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

a.google {
  border: 1px solid black;
}

a.google span {
  font-weight: 600;
  font-size: 20px;
  padding-left: 8px;
}

/* HOMEPAGE CSS*/
.main-btn {
  border: 2px solid black;
  border-radius: 6px;
  padding: 0.15rem;
  transition: all 0.3s ease-out;
}

p {
  /* font-size: 1rem; */
  color: black;
}

/* Navbar */
.header-wrapper .navbar {
  padding: 0.5rem;
  background-color: #f5eae7;
}

.header-wrapper .nav-item {
  margin: 0 0.5rem;
}

.header-wrapper .nav-item .nav-link {
  font-size: 1rem;
  font-weight: 500;
  display: inline-block;
}

.header-wrapper .nav-item .nav-link:hover,
.header-wrapper .nav-item .nav-link.active {
  color: black;
}

.navbar.header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@keyframes fadeInDown {
  0% {
    top: -30%;
  }
  15% {
    top: -15%;
  }
  100% {
    top: 0;
  }
}
/* Banner */
.banner_wrapper {
  height: 40.625rem;
}

.banner_wrapper .banner_background_img .background-img {
  position: relative;
  width: 100%;
}

.banner_background_img {
  background-image: url(../images/background-img.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.outer_booking_container {
  background-color: white;
  padding: 3.125rem 1.875rem;
  position: relative;
}

.booking-area {
  margin-top: 2rem;
}

.inputdata {
  margin-top: 10px;
}

.purpose input {
  margin-top: 15px;
}
.location_search .fa-search {
  position: relative;
  top: 5vh;
  left: 1vh;
  pointer-events: none;
}

.search-btn .btn {
  background-color: #9c6f44;
  border: none;
  position: absolute;
  top: 93%;
  left: 35%;
  width: 32%;
  height: 14%;
}

.outer_booking_container .btn_container {
  /* width: fit-content; */
  border: 2px solid black;
  background-color: #9c6f44;
  border-radius: 6px;
  border: none;
  position: absolute;
  left: 35%;
  top: -14%;
  width: 32%;
  /* margin-bottom: 2rem; */
}

#btn_1 {
  margin: 1rem 0 1rem 1rem;
  background-color: #744920;
  border: 1px solid white;
  border-radius: 6px;
  width: 10.2rem;
}

#btn_2 {
  margin-right: 1rem;
  margin-left: 0.5rem;
  background-color: #9c6f44;
  border: 1px solid white;
  border-radius: 6px;
  width: 10.2rem;
}

/* .outer_booking_container .btn_container #btn_1:focus {
  background-color: #744920;
}

.outer_booking_container .btn_container #btn_2:focus {
  background-color: #744920;
} */

#longstay_booking {
  display: none;
}

/* Top places section */
.top_places_wrapper {
  padding: 4rem;
}

.location_title h6:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hotel-content .hotel-name {
  font-weight: 500;
  font-size: large;
}

.hotel-content .hotel-address {
  font-size: 15px;
  top: -50px;
  color: #363636;
}

.hotel-content .hotel-price {
  color: #744920;
  font-weight: 600;
  text-shadow: 1px 1px #9c6f44;
}

.hotel-items .hotel-content .hotel-ratings .fa-star {
  color: #ffd700;
}

.hotel-items .hotel-content .hotel-reviews {
  font-size: small;
}

.hotel-items .hotel-content .hotel-speciality {
  font-size: smaller;
}

.location_title #bhaktapur {
  text-decoration: underline;
}

/* For see more */
#see-more {
  width: fit-content;
}
#see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

.top_places_wrapper .container-fluid .box {
  display: none;
}

#see-less {
  width: fit-content;
  display: none;
}
#see-less:hover {
  cursor: pointer;
  text-decoration: underline;
}

.top_places_wrapper .container-fluid .box:nth-child(1),
.top_places_wrapper .container-fluid .box:nth-child(2),
.top_places_wrapper .container-fluid .box:nth-child(3) {
  display: inline-block;
}

/* See more ends here */
#lalitpur-see-more {
  width: fit-content;
}

#lalitpur-see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

#lalitpur-see-less {
  width: fit-content;
  display: none;
}

#lalitpur-see-less:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* see more/less of kathmandu */
#kathmandu-see-more {
  width: fit-content;
}

#kathmandu-see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

#kathmandu-see-less {
  width: fit-content;
  display: none;
}

#kathmandu-see-less:hover {
  cursor: pointer;
  text-decoration: underline;
}

#lalitpur_top_places {
  display: none;
}

#kathmandu_top_places {
  display: none;
}

/* Popular Searches */
.popular_searches_wrapper {
  padding: 0rem 4rem 4rem 4rem;
}

#lalitpur_popular_searches {
  display: none;
}

#kathmandu_popular_searches {
  display: none;
}

.location_title #popular_bhaktapur {
  text-decoration: underline;
}

/* See more/less of Bhaktapur popular searches */
#PSB-see-more {
  width: fit-content;
}

#PSB-see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

#PSB-see-less {
  width: fit-content;
  display: none;
}

#PSB-see-less:hover {
  cursor: pointer;
  text-decoration: underline;
}
.popular_searches_wrapper .container-fluid .cont_box {
  display: none;
}

.popular_searches_wrapper .container-fluid .cont_box:nth-child(1),
.popular_searches_wrapper .container-fluid .cont_box:nth-child(2),
.popular_searches_wrapper .container-fluid .cont_box:nth-child(3) {
  display: inline-block;
}

/* See more/less of Bhaktapur popular searches */
#PSL-see-more {
  width: fit-content;
}

#PSL-see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

#PSL-see-less {
  width: fit-content;
  display: none;
}

#PSL-see-less:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* See more/less of kathmandu popular searches */
#PSK-see-more {
  width: fit-content;
}

#PSK-see-more:hover {
  cursor: pointer;
  text-decoration: underline;
}

#PSK-see-less {
  width: fit-content;
  display: none;
}

#PSK-see-less:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Feedback */
.card h6 {
  text-align: center;
  color: #744920;
  font-weight: 600;
}

/* Our Clients */
.our_client_wrapper {
  padding: 4rem;
}
.our-client-slider {
  background-color: white;
  padding: 0.25rem;
}

.our-client img {
  border-radius: 50%;
}

/* Footer */
#footer {
  background-color: #9c6f44;
}

.footer_content {
  /* margin: 0.75rem 3rem 0.25rem 3rem; */
  color: #ffff;
  margin-left: 6rem;
}

.footer_content h6 {
  font-weight: 400;
  font-size: 2rem;
}

.footer_content ul li {
  font-size: 1rem;
  font-weight: 100;
}

.horizontal_line {
  position: relative;
  height: 1px;
  width: 100%;
  margin: 36px 0;
  background-color: #d4d4d4;
}

.vertical_line {
  height: 10rem;
  width: 1px;
  background-color: #d4d4d4;
}

.contact i {
  font-size: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: #ffff;
}

/* Media Queries */
@media (min-width: 769px) and (max-width: 1200px) {
  .outer_booking_container .btn_container {
    width: fit-content;
  }

  #btn_2 {
    width: 9.5rem;
  }

  #btn_1 {
    width: 9.5rem;
  }
  .location_search .fa-search {
    top: 5.6vh;
  }
}

@media (min-width: 599px) and (max-width: 768px) {
  #btn_2 {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 5px;
    margin-top: -8px;
  }
  #btn_1 {
    padding: 5px;
  }
  .location_search .fa-search {
    top: 5.5vh;
  }
}

@media (max-width: 600px) {
  #btn_2 {
    margin-left: 1.6rem;
    margin-bottom: 1rem;
    padding: 5px;
    margin-top: -8px;
    width: 8rem;
    font-size: medium;
  }
  #btn_1 {
    padding: 5px;
    margin-left: 1.6rem;
    width: 8rem;
    font-size: medium;
  }
  .location_search .fa-search {
    top: 5.9vh;
  }
}

/* Add Hotel Css */
.addHotel_container .h1-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addHotel_container .icon {
  margin-right: 10px;
  font-size: 1.7rem;
}

/* .addHotel_container .icon-input-group {
  position: relative;
}

.addHotel_container .icon-input-group i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0, -50%);
}

.addHotel_container .form-control-with-icon {
  padding-left: 40px;
} */

.addHotel_container .hotel-inputname input {
  border: 1px solid rgba(127, 123, 123, 0.437);
  border-radius: 0px 4px 4px 0px;
}

.addHotel_container .hotel-inputname {
  display: flex;
}

.addHotel_container .inputicon {
  border: 1px solid rgba(127, 123, 123, 0.437);
  border-radius: 4px 0 0 4px;
  padding: 10px;
  font-size: 1rem;
}

.addHotel_container .hotel-inputprice {
  display: flex;
}

.addHotel_container .hotel-inputprice input {
  border: 1px solid rgba(127, 123, 123, 0.437);
  border-radius: 0px 4px 4px 0px;
}

.addHotel_container .hotel-inputphoto {
  display: flex;
}

.addHotel_container .hotel-inputphoto input {
  border: 1px solid rgba(127, 123, 123, 0.437);
  border-radius: 0px 4px 4px 0px;
}

.addHotel_container .hotel-inputaddress {
  display: flex;
}

.addHotel_container .hotel-inputaddress input {
  border: 1px solid rgba(127, 123, 123, 0.437);
  border-radius: 0px 4px 4px 0px;
}

.addHotel_container .hotel-inputdistrict {
  display: flex;
}

.addHotel_container .hotel-inputdistrict select {
  border: 1px solid rgba(127, 123, 123, 0.437);
  border-radius: 0px 4px 4px 0px;
}

.addHotel_container .hotel-inputrooms {
  display: flex;
}

.addHotel_container .hotel-inputrooms input {
  border: 1px solid rgba(127, 123, 123, 0.437);
  border-radius: 0px 4px 4px 0px;
}

.addHotel_container .hotel-inputpurpose {
  display: flex;
}

.addHotel_container .hotel-inputpurpose input {
  border: 1px solid rgba(127, 123, 123, 0.437);
  border-radius: 0px 4px 4px 0px;
}

.addHotel_container .hotel-inputfeatures {
  display: flex;
}

.addHotel_container .hotel-inputfeatures input {
  border: 1px solid rgba(127, 123, 123, 0.437);
  border-radius: 0px 4px 4px 0px;
}

#hotelPhoto {
  font-size: small;
  height: 2.5rem;
  padding: 7px;
}

.nav-addHotel {
  background-color: #744920;
}

.btn-addhotel {
  background-color: #744920;
  border: none;
  border-radius: 6px;
  width: 6rem;
  text-align: center;
  font-size: 1.2rem;
}

.btn-addhotel:hover {
  background-color: #744920;
}

.addhotel-btncontainer {
  text-align: center;
  margin: 1rem;
}

#navbook {
  background-color: #744920;
}

/* #hotelpics_slider_container {
  position: relative;
  height: 100%;
}

#hotelpics_slider_container .hotelpics_slider {
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.card_slider {
  padding: 50px 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper_slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper_slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
} */

#booking_form {
  margin-top: 2rem;
}

#booking_form h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

#booking_form h5 {
  font-size: 1.2rem;
  font-weight: 200;
  color: #666362;
}

.room_selection_container h6 {
  color: #666362;
}

.room_selection_container .card-body .card-img {
  max-width: 15rem;
  margin-top: -20px;
}

.room_selection_container .flex_cont {
  display: flex;
  justify-content: space-between;
}

.room_selection_container .card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.room_selection_container .card-footer button {
  background-color: #9c6f44;
  padding: 0 4.2rem 0rem 4.2rem;
  max-width: fit-content;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 6px;
  color: white;
}

.room_selection_container .card-header {
  background-color: #9c6f44;
  height: 2.2rem;
}
.room_selection_container .card-header p {
  color: white;
}

.room_selection_container .col-md-12 .card {
  max-width: 600px;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.room_selection_container .card-body h4 {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 5px;
}

#hotel_pics .images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#hotel_pics .images img {
  width: 380px;
  height: 250px;
  border-radius: 13px;
  box-shadow: 4px 7px 7px 0 black;
  cursor: pointer;
  margin: 10px;
  transition: 400ms;
}

#hotel_pics .images img:hover {
  transform: scale(1.03);
}

/* vendor dashboard */
/* .sidebar {
  width: 50vh;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #9c6f44;
  z-index: 100;
}

.sidebar-brand {
  height: 90px;
  padding: 1rem 0 1rem 2rem;
  color: #fff;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 1rem;
}

.sidebar-menu {
  margin-top: 1rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}

.sidebar-menu a {
  display: block;
  color: #fff;
  font-size: 1.1rem;
  padding-left: 1rem;
}

.sidebar-menu a.active {
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #744920;
}

.sidebar-menu a span:first-child {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.main-content {
  margin-left: 50vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.main-content header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  width: 167vh;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 345px;
  width: calc(100% -345px);
  top: 0;
  z-index: 100;
}

header h1 {
  color: #222;
}

header label span {
  font-size: 1.7rem;
  padding-right: 1rem;
}

.search-wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

.user-wrapper small {
  display: inline-block;
  color: #744920;
  margin-top: -3px !important ;
}

main {
  margin-top: 92px;
  padding: 2rem 2rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}

.card-single {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 2rem;
  border-radius: 2px;
}

.card-single div:last-child span {
  font-size: 3rem;
  color: #9c6f44;
}

.card-single div:first-child span {
  color: gray;
}

.card-single:last-child {
  background: #9c6f44;
}

.card-single:last-child h1,
.card-single:last-child
  div:last-child
  span
  .card-single:last-child
  div:first-child
  span {
  color: #fff;
}

table {
  border-collapse: collapse;
} */

/* Dashboard */
